<div class='container'>
    <div class ='header-cart'>
        <h1 class='text-center mb-50'>ショッピングカート</h1>
    </div>

<thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
</thead>
