<div class="container">

  <h1 class="text-center mt-4 mb-4">About</h1>

  <div class="mx-auto">
  <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p class="text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p class="text-center">様々なバリエーションを用意しております。</p>
  <p class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p class="text-center">ぜひご注文ください。</p>



  <div class="row">
  <div class="w-75 d-block mx-auto mb-5">
    <div id="tallabout">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
    </div>
  </div>


</div>
