<div class="container text-center mt-5 pt-5">
  <h3><strong>本当に退会しますか？</strong></h3>
  <p class="my-4">
    退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <%= link_to members_my_page_path, class: "btn bgleft mr-3 px-4" do %>
    <span>退会しない</span>
  <% end %>
  <%= link_to members_withdraw_path, method: :patch, class: "btn bgleft px-4" do %>
    <span>退会する</span>
  <% end %>
</div>
